In [ ]:
import pandas as pd
import os

1. read data from the file and handle null values
2. rename columns names replace to lowerr_case and replace space with _
3. derive new col discount, sales prce and profit
4. convert order date from obj to datetime
5. drop cost price list and discount percent cols
6. laod data into sql server using replace option

In [ ]:
df = pd.read_csv('orders.csv', na_values=['Not Available', 'na'])
df

In [ ]:
# 2. rename columns names replace to lowerr_case and replace space with _
for i in df.columns:
    new_column_name = i.lower().replace(' ', '_')
    df.rename(columns={i: new_column_name}, inplace=True)
print(df.columns)

In [ ]:
#3. derive new col discount, sales price and profit
df['discount'] = df['list_price'] * df['discount_percent']* 0.01
df['sale_price'] = df['list_price'] - df['discount']
df['profit'] = df['sale_price'] - df['cost_price']
df

In [ ]:
# 4. convert order date from obj to datetime
df['order_date'] = pd.to_datetime(df['order_date'])
df

In [ ]:
# 5. drop cost price, list price and discount percent cols
df.drop(columns=['cost_price', 'list_price', 'discount_percent'], axis = 0, inplace=True)
df

In [ ]:
# 6. load the data into sql server using replace option
!pip install SQLAlchemy pyodbc
import sqlalchemy as sal
engine = sal.create_engine('mssql://PARADOXop\SQLEXPRESS/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn=engine.connect()

In [ ]:
# 7. load the data into sql server using append option

df.to_sql(name = 'orders', con=conn, index=False, if_exists='append')